*~
*.o
*.bin
__pycache__/
/horse_modules/
/tests/basic-1/horse_modules/core.horse64.org/
/tests/basic-2/horse_modules/core.horse64.org/
/tests/args/horse_modules/core.horse64.org/
/tests/rescue/horse_modules/core.horse64.org/
/tests/inlinefunc/horse_modules/core.horse64.org/
/tests/then/horse_modules/core.horse64.org/
