/.stfolder
/src/bla/
*.geany
*.kate-swp
*~
*.o
/*.bin
/tools/syntax-highlighting/kate/bug.xml
/translator/*.md5.txt
/translator/translator_main.c
/translator/translator_main.*.c
/translator/translator_main.so
/translator/translator_main.*.so
/translator/translator_modules/*.c
/translator/translator_modules/*.so
/translator/translator_modules/*.md5.txt
__pycache__/
/horse_modules/
**/horse_modules/*
